@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  overflow-x: hidden
}
.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.25s ease;
}
.navbar.sticky {
  background: rgb(35, 35, 100);
  padding: 8px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar.sticky img {
  width: 175px;
  height: 58px;
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.25s ease;
  border-radius: 2px;
  padding: 5px;
}
.menu-list li a:hover {
  color: rgb(20, 20, 100);
  background: white;
  padding: 3px 10px;
}
.menu-list li .lang {
  font-family: 'Kanit', sans-serif;
  border: 2px solid white;
  color: white;
  padding: 2.5px 10px;
}
.menu-list li a.active {
  color: rgb(20, 20, 100);
  background: white;
  padding: 3px 10px;
}
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../images/DSC00768.JPG") no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.intro {
  align-items: center;
  justify-content: center;
  padding-top: 25vh;
}
.intro h1 {
  text-align: center;
  color: rgba(255, 255, 255);
  font-size: 60px;
  letter-spacing: 1.25px;
  font-weight: 700;
  text-shadow: 1px 1px black;
  margin-top: 10vh;
}
.intro h2 {
  margin-top: 0.25vh;
  text-align: center;
  color: rgba(255, 255, 255);
  font-size: 30px;
  font-weight: 500;
  text-shadow: 1px 1px black;
}
.intro p {
  margin-top: 10vh;
  text-align: center;
  color: rgba(255, 255, 255);
  font-size: 50px;
  font-weight: 600;
  text-shadow: 1px 1px black;
}
.quote {
  display: flex;
  align-items: center;
  justify-content: center;;
}
.quote p {
  font-size: 35px;
  margin-top: 12.5vh;
}
.contact {
  text-align: center;
  margin-left: 25px;
  margin-top: 12.5vh;
  background: white;
  border-radius: 3px;
  border: none;
  color: rgb(13, 11, 121);
  padding: 5px 15px;
  font-weight: 700;
  font-size: 35px;
}
.contact:hover {
  transition: all 0.25s ease-in;
  cursor: pointer;
  background: white;
  color: rgb(17, 14, 163);
  padding: 5px 15px;
  font-size: 40px;
}
.scrolldown {
  margin-top: 12vh;
  color: white;
  text-align: center;
}
.about {
  text-align: center;
}
.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.5vh 40vh 3.5vh 40vh;
}
.sec1 {
  flex: 1;
  margin: 5vh 0 5vh 0;
}
.sec1 img {
  width: 500px;
  margin-right: 5vh;
}
.sec1 h3 {
  text-align: left;
  font-size: 50px;
  color: rgb(6, 5, 88);
}
.sec1 p {
  text-align: justify;
  font-size: 20px;
  margin-top: 25px;
}
.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(225, 225, 225);
}
.sec2 img {
  width: 650px;
  display: block;
}
.sec2 h3 {
  text-align: center;
  font-size: 45px;
  color: rgb(6, 5, 88);
}
.sec2 p {
  text-align: justify;
  font-size: 20px;
  margin: 25px 15vh 25px 15vh;
}
.crane-container {
  background: rgb(225, 225, 225);
  width: 100%;
}
.crane {
  margin-top: -35vh;
  width: 100%;
}
.brands {
  margin-top: -35vh;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/lifting.png") no-repeat;
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands img {
  width: 250px;
  padding-top: 25vh;
  margin: 0 25px 0 25px;
}
.section3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15vh 15vh 35vh 15vh;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.25)), url("../images/lift-cover.png") no-repeat; 
  background-position: 0% 0%;
  background-size: 125% 100%;
}
.sec3 img {
  width: 700px;
  display: block;
}
.sec3 h3 {
  text-align: center;
  font-size: 60px;
  color: rgb(228, 228, 228);
  text-shadow: 2px 2px black;
}
.sec3 p {
  text-align: justify;
  font-size: 20px;
  margin: 25px 10vh 25px 10vh;
  color: white;
  text-shadow: 1px 1px black;
}
.section4 {
  background: rgb(35, 35, 100);
  height: 40vh;
}
.section4 h3 {
  background:rgb(225, 225, 225);
  border-radius: 0 0 0 0/0 0 100% 100%;
  height: 12vh;
  color:rgb(35, 35, 100);
  padding-top: 4vh;
  font-size: 35px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(225, 225, 225);;
}
.social div {
  margin: 20px 25px 0 25px;
}
.social a {
  text-decoration: none;
  color: rgb(225, 225, 225);
}
.social a:hover {
  font-size: 1.1em;
  transition: 0.5s ease;
}
.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 25px;
}
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.cd-icon {
  color: rgb(225, 225, 225);;
  margin-right: -25px;
}
.footer {
  background: rgb(223, 222, 222);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.footer p {
  font-size: 20px;
  font-weight: 500;
  color: rgb(6, 5, 88);
}
.footer .rights {
  margin-left: 50px;
}



